/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@font-face {   
	font-family: 'BebasNeue';
	src: url('../../public/assets/fonts/BebasNeue-Regular.ttf');
}


/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #2E2C2F;
	--ion-color-primary-rgb: 46,44,47;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #282729;
	--ion-color-primary-tint: #434144;

	--ion-color-secondary: #F3E8EE;
	--ion-color-secondary-rgb: 243,232,238;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #d6ccd1;
	--ion-color-secondary-tint: #f4eaf0;

	--ion-color-tertiary: #CB48B7;
	--ion-color-tertiary-rgb: 203,72,183;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #b33fa1;
	--ion-color-tertiary-tint: #d05abe;

	--ion-color-success: #07A0C3;
	--ion-color-success-rgb: 7,160,195;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #068dac;
	--ion-color-success-tint: #20aac9;

	--ion-color-warning: #ABA361;
	--ion-color-warning-rgb: 171,163,97;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #968f55;
	--ion-color-warning-tint: #b3ac71;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

	--ion-font-family: 'BebasNeue';
}

.login-logo  {
	margin-top: 30px;
}

.login-page-register-link{
	color: var(--ion-color-warning);
	float: right;
	padding: 20px;
}

.login-button{
	margin: 30px;
}

.login-input-item{
	margin: 30px;
}